.expert-library__wrap {

}
$expert-library__col: 7.5px;
.expert-library {
  margin: 0 (-$expert-library__col);
  .expert-item__wrap {
    float: left;
    width: 20%;
    padding: 0 $expert-library__col;
    margin-bottom: 10px;
  }
}
.expert-library__wrap {
  .pagination-simple {
    margin: 30px 0;
  }
}
.pagination-simple {
  text-align: right;
  .ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev {
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    border: 1px solid #9f9f9f;
    color: #767676;
  }
  %item_active {
    border: 1px solid #fbd25f !important;
    a {
      color: #fabf1b !important;
    }
  }
  a {
    display: block;
  }
  .ivu-page-item {
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    border: 1px solid #9f9f9f;
    a {
      color: #767676;
    }
    &:hover {
      @extend %item_active;
    }
  }
  .ivu-page-item-active {
    background: transparent;
    @extend %item_active;
  }
  .ivu-page-disabled {
    display: none;
  }
}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
  .expert-library {
    .expert-item__wrap {
      width: 25%;
    }
  }
}
@media (max-width: 768px) {
  .expert-library {
    .expert-item__wrap {
      width: 50%;
    }
  }
}
@media (max-width: 400px) {
  .expert-library {
    .expert-item__wrap {
      width: 100%;
    }
  }
}
